<!-- <h2>{{cheeseCake.name| uppercase}}</h2>
<div><span>id: </span>{{cheeseCake.id}}</div>
<div><span>price: </span>{{cheeseCake.price}}</div>
<div><span>contenido: </span>{{cheeseCake.filling}}</div> -->

<div>
    <label for="name">Dessert name: </label>
    <input id="name" [(ngModel)]= "cheeseCake.name" placeholder="name">
    <br>
    <label for="name">{{cheeseCake.name}}</label>
</div>

<h2>My products</h2>
<ul class="heroes">
  <li *ngFor="let producto of productosLista" >
    <!-- <button [class.selected]="producto === selectedP" type="button" (click)="onSelect(producto)">
      <span class="badge">{{producto.id}}</span>
      <span class="name">{{producto.name}}</span>
    </button> -->
    <a routerLink="/productosDetail/{{producto.id}}">
      <span class="badge">{{producto.id}}</span> {{producto.name}}
    </a>
  </li>
</ul>
<!-- <app-product-details [product]="selectedP"></app-product-details> -->